.DS_Store
machine-learning-ex1/.DS_Store
machine-learning-ex1/costFunctionJ.m
machine-learning-ex1/ex1data1.txt
machine-learning-ex1/ex1data2.txt
machine-learning-ex1/hello.mat
machine-learning-ex1/machine-learning-ex1.zip
machine-learning-ex1/octave-workspace
machine-learning-ex1/square.m
octave-workspace
week1_intro.pdf
